Q.1) Write a Python program to print all even numbers from a given list of numbers in the
same order. Stop printing if any number that comes after 237 in the sequence is
encountered.
Sample  
numbers list :  
numbers = [ 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 237, 412, 566, 731, 210, 912, 216, 244, 896, 101, 867, 355, 430 ]
expected output:
386 462 418 344 236 566 978 328 162 758

In [ ]:
numbers=[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 237, 412, 566, 731, 210, 912, 216, 244, 896, 101, 867, 355, 430 ]
for n in numbers:
  if n==237:
    break
  if n%2==0:
    print(n)

386
462
418
344
236
566
978
328
162
758

Q.2) Write a python program to get the path and name of the file that is currently executing

Q.3) pattern
1
212
32123
4321234
543212345

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i,0,-1):
    print(j,end="")
  for j in range(2,i+1):
    print(j,end="")
  print()

1
212
32123
4321234
543212345

Q.4) Write a code to accept a number & print its digits in words.

In [ ]:
num = input("Enter a number: ")

digits = {
    '0': "Zero",
    '1': "One",
    '2': "Two",
    '3': "Three",
    '4': "Four",
    '5': "Five",
    '6': "Six",
    '7': "Seven",
    '8': "Eight",
    '9': "Nine"
}

for d in num:
    print(digits[d])

Enter a number: 321
Three
Two
One